<h1>Check out my cool cameras</h1>


<% cameras_path do |camera| %>
<div style="border: 1px solid; background: aliceblue">
<%= camera.brand %> </br>
<%=	camera.model%> </br>
<%= camera.serial %>  </br>
<%= camera.review %> </br>
</div>
<% end %>
