<h1 style="border:solid; black, blue, -webkit-   box-shadow: 10px 10px 78px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 78px 0px rgba(0,0,0,0.75);
       box-shadow: 10px 10px 78px 0px rgba(0,0,0,0.75">Check out my cool cameras</h1>


<% cameras_path do |camera| %>
<div style="border: 2px solid; background: bisque">
<%= camera.brand %> </br>
<%=	camera.model%> </br>
<%= camera.serial %>  </br>
<%= camera.review %> </br>
</div>
<% end %>
