<!DOCTYPE html>
<html>
  <head>
  	<title> Welcome you are on the: <%= (yield(:title)) %></title>
    <title>JoJo's MTRailsProject</title>
    <%= csrf_meta_tags %>

</head>

  
  <body>
  	<header>
  	<h1>welcome to my camera hut</h1>
  		<img src="http://www.digitalproductionme.com/pictures/sony_a7sii.jpg">
  	</header>	

  	<h1><%= (yield(:title)) %></title></h1>

  
    <%= yield %>

  
  </body>
</html>
