<h1>all your contacts are ours</h1>


<% @contacts.each do |contact| %>
<%= contact.name %>

<%= link_to "Show", contact %>
<%= link_to "delete", contact, method: :delete, data: {confirm: "You sure?"} %>


<% end %>