<h1>Here are the names</h1>

<% @names.each do |book| %>
<div style="border: 1px solid; background: aliceblue">
<%= name.nombre %> </br>
<%=	name.title%> </br>
<%= name.age %>  </br>
<%= name.email %>  </br>
</div>
<% end %>